.cars-page {
  .cars__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  .reset-filter {
    border: 0;
    padding: 4px 15px;
    cursor: pointer;
    background-color: #a162f7;
    color: #fff;
    border-radius: 20px;
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;

    @include respond(mobile) {
      flex-direction: column;
      gap: 12px;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    select {
      padding: 5px 25px;
      border-radius: 15px;
      background-color: #fff;
      border: 0;
      color: #5f6165;
      outline: 0;
    }

    span {
      display: block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 37px;
      box-shadow: 0px 4px 8px rgba(53, 53, 53, 0.1);
      background-color: #fff;
      color: #777e91;
      cursor: pointer;
      > svg {
        display: inline-block;
        vertical-align: middle;
      }
      &:hover,
      &.active {
        background-color: $main_color;
        > svg {
          color: #fff;
        }
      }
    }
  }
}
