.widgets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @include respond(mobile) {
    flex-direction: column;
  }

  .widget-item {
    background-color: #fff;
    border-radius: 14px;
    text-align: center;
    padding: 22px 0;
    width: 23%;
    @include respond(mobile) {
      width: 100%;
      margin-bottom: 20px;
    }
    &__icon {
      display: block;
      margin: auto;
      width: 38px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
      margin-bottom: 10px;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &:first-of-type {
      background-color: #a162f7;
      color: #fff;

      .widget-item__icon {
        background-color: #a66ff0;
      }
    }

    &:nth-of-type(2) {
      .widget-item__icon {
        background-color: #ff7e861a;
      }
    }

    &:nth-of-type(3) {
      .widget-item__icon {
        background-color: #a162f71a;
      }
    }

    &:last-of-type {
      .widget-item__icon {
        background-color: #f6cc0d1a;
      }
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}
