.app-header {
  padding: 15px 30px;
  background-color: #fff;
  height: 78px;
  display: flex;
  justify-content: space-between;
  flex: 1;

  &__left {
    .search-wrapper {
      width: 350px;

      @media (max-width: 768px) {
        width: 160px;
      }
      .form-group {
        position: relative;
        width: 100%;
        min-height: 46px;
        svg {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
        }
        .search-input {
          position: absolute;
          width: 100%;
          background-color: #f5f4f6;
          border-radius: 5px;
          height: 100%;
          outline: 0;
          padding-inline-start: 50px;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 25px;
    @media (max-width: 768px) {
      gap: 10px;
    }

    .app-header__notification {
      position: relative;
      cursor: pointer;
      .danger-icon {
        position: absolute;
        width: 7px;
        height: 7px;
        right: 2px;
        background-color: #ff5e6f;
        border-radius: 50%;
      }
    }

    .app-header__baricon {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 15px;
  }
}
