.app-sidebar {
  min-height: 100vh;
  background-color: #fff;
  min-width: 248px;
  padding: 30px 24px;
  flex: 0 1 248px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;

  &__logo {
    margin-bottom: 40px;
  }
  .list__item {
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      padding: 8px 12px;
      color: #5f6165;
      border-radius: 3px;
      &:hover,
      &.active {
        background-color: #f3f5f8;
      }
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    height: 100vh;
    z-index: 1010;
    left: -100%;
  }

  &.showSide {
    left: 0;
  }
}

[dir="ltr"] .app-sidebar {
  @media (max-width: 768px) {
    left: auto;
    right: -100%;
  }

  &.showSide {
    right: 0;
  }
}
